<!-- About Section-->
<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">

        <app-title [title]="'Acerca Mi'" [dark]="false" [main]="false"></app-title>

        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ml-auto"><p class="lead">Soy un Desarrollador apasionado por la tecnologia, siempre busco innovar e implementar las mejores herramientas. Soy responsable y proactivo. Me gusta el deporte, el cine y los videojuegos.</p></div>
            <div class="col-lg-4 mr-auto"><p class="lead">He trabajado Desarrollando productos para plataformas windows, android y web, manejando tecnologias tanto frontend como backend. En el Frontend he 
                usado Framework como angularCLI y en el backend he implementado Nodejs(Express) y Sql server, por la parte android he usado ionic y java, y en windows he programado WinServices mediante C#</p></div>
        </div>
        <!-- About Section Button-->
        <div class="text-center mt-4">
            <!-- <a class="btn btn-xl btn-outline-light" href="https://startbootstrap.com/themes/freelancer/">
                <i class="fas fa-download mr-2"></i>
                Free Download!
            </a> -->
        </div>
    </div>
</section>